/* Estilos generales */

/* Barra de navegación */
.navbar{
    background-color: rgba(64, 24, 117, 0.63) !important;
}
/* Títulos y subtítulos */
.titulo{
    font-family: 'Montserrat', sans-serif !important;
    color: rgb(105, 39, 190);
}
.subtitulo{
    font-family: 'Oswald', sans-serif !important;
    color: rgb(105, 39, 190);
}
/* Títulos de experiencia y estudios */
.titulo_experienciaYestudios{
    font-family: 'Courier New', Courier, monospace !important;
    color: rgb(201, 198, 206);
}
/* Títulos del carrusel de habilidades */
.titulo_carrusel{
    font-family:'Courier New', Courier, monospace !important;
    color: rgb(201, 198, 206);
}

/* Botones personalizados */

/* Botones de contacto */
.btn-contacto {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}
.btn-outline-contacto {
    color: rgba(105, 39, 190);
    border-color: rgba(105, 39, 190);
}
/* Estilo hover para botones de contacto */
.btn-outline-contacto:hover {
    background-color: rgba(105, 39, 190);
    color: #ffffff;
}

/* Botones de información */
.btn-informacion {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}
.btn-outline-informacion {
    color: rgba(105, 39, 190);
    border-color: rgba(105, 39, 190);
}
/* Estilo hover para botones de información */
.btn-outline-informacion:hover {
    background-color: rgba(105, 39, 190);
    color: #ffffff;
}
/* Fondo de la página */
.body{
    background-image: url(imagenes/Fondo_Binario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif !important;
}
/* Estilos para la foto de presentación */
.foto{
    max-width: 400px;
    height: auto;
    object-fit: cover;
}
/* Estilos mobiles para la foto de presentación */
@media (max-width: 576px) {
    .foto {
        max-width: 300px;
        margin-left: -15px;
        
    }
}
/* Estilos para la imagen del titulo "Programador" */

/*Estilo del menor*/
.menor_img {
    max-height: 80px;
}
/*Estilo mobile del menor*/
@media (max-width: 576px) {
    .menor_img {
        max-height: 40px;
        margin-right: -15px;
    }
}
/*Estilo del mayor*/
.mayor_img {
    max-height: 80px;
}
/*Estilo mobile del mayor*/
@media (max-width: 576px) {
    .mayor_img {
        max-height: 40px;
        margin-left: -15px;
    }
}

/* Estilos para el carrusel*/

/* Posicionamiento de los botones del carrusel */
.boton-carrusel {
    position: absolute; top: 60%;
    transform: translateY(-50%); 
    }

/* Estilos para los props pixelados */

/* Contenedor de la carta pixelada */
.carta_Container{
    position:relative;
    right: 5%;
    width: 600px;
    height: 600px;
}

/* Estilo de la carta pixelada */
.pixel_Carta{
    width: 600px;
    height: 600px;
    image-rendering: pixelated;
}

/* Estilo del fondo del texto pixelado */
.fondo_Texto_Pixel{
    width: 800px;
    height: 300px;
    position: absolute;
    top: 12%;
    left: 70%;
    background-image: url(imagenes/pixel/fondo_Texto_Pixel.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    display: flex;
    align-items: center;
    padding-left: 25%;
}
/* Estilo del texto superpuesto */
.texto_Superpuesto { 
    position: relative;
    color: white;
    font-family: 'VT323';
    font-size: 25px;
}
/* Estilo de la barra de XP pixelada */
.pixel_Barra_xp{
    position:absolute;
    left: 70%;
    top: 68%;
    width: 900px;
    height: 130px;
    image-rendering: pixelated;
}

/* Estilo del logo de HTML */
.logo_Html{
    position:absolute;
    top: 28%;
    left: 32.2%;
    width: 200px;
    height: 200px;
}

/* Estilo del logo de CSS */
.logo_Css{
    position:absolute;
    top: 25%;
    left: 28%;
    width: 250px;
    height: 250px;
}

/* Estilo del logo de JavaScript */
.logo_Js{
    position:absolute;
    top: 28%;
    left: 32.2%;
    width: 200px;
    height: 200px;
}

/* Estilo del logo de Python */
.logo_Py{
    position:absolute;
    top: 25%;
    left: 28%;
    width: 250px;
    height: 250px;
}

/* Carrusel de skills estilo responsive para mobile */

@media (max-width: 576px){

/* Estilo mobile del contenedor de la carta pixelada */
    .carta_Container {
        position:relative;
        right: 7%;
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
/* Estilo mobile de la carta pixelada */
    .pixel_Carta {
        width: 400px;
        height: 400px;
    }

/* Estilo mobile de la barra de XP pixeleada */
    .pixel_Barra_xp{
        position: relative;
        top: 90%;
        left: 0%;
        width: 450px;
        height: 65px;
        image-rendering: pixelated;
    }

/* Estilo mobile del fondo del texto pixeleado */
    .fondo_Texto_Pixel {
        position: relative;
        left: 0%;
        width: 400px;
        height: 200px;
        margin: 10% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        image-rendering: pixelated;
        } 

/* Estilo mobile del texto superpuesto */
    .texto_Superpuesto {
        position: relative;
        font-size: 18px;
        text-align: center;
        margin-top: 5%;
        margin-left: -25%;
    }

/* Estilo mobile del logo de HTML */
    .logo_Html {
        position:absolute;
        top: 14%;
        left: 37%;
        width: 145px;
        height: 145px;
    }

/* Estilo mobile del logo de CSS */
    .logo_Css{
        position:absolute;
        top: 10%;
        left: 29%;
        width: 195px;
        height: 195px;
    }
/* Estilo mobile del logo de JavaScript */
    .logo_Js {
        position:absolute;
        top: 14%;
        left: 37%;
        width: 145px;
        height: 145px;
    }
/* Estilo mobile del logo de Pythom */
    .logo_Py{
        position:absolute;
        top: 10%;
        left: 32%;
        width: 180px;
        height: 180px;
    }
}
