.navbar{
    background-color: rgba(64, 24, 117, 0.63) !important;
}
.titulo{
    font-family: 'Montserrat', sans-serif !important;
    color: rgb(105, 39, 190);
}

.subtitulo{
    font-family: 'Oswald', sans-serif !important;
    color: rgb(105, 39, 190);
}

.titulo_experienciaYestudios{
    font-family: 'Courier New', Courier, monospace !important;
    color: rgb(201, 198, 206);
}

.titulo_carrusel{
    font-family:'Courier New', Courier, monospace !important;
    color: rgb(201, 198, 206);
}

.btn-contacto {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}
.btn-outline-contacto {
    color: rgba(105, 39, 190);
    border-color: rgba(105, 39, 190);
}
.btn-outline-contacto:hover {
    background-color: rgba(105, 39, 190);
    color: #ffffff;
}

.btn-informacion {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}
.btn-outline-informacion {
    color: rgba(105, 39, 190);
    border-color: rgba(105, 39, 190);
}
.btn-outline-informacion:hover {
    background-color: rgba(105, 39, 190);
    color: #ffffff;
}
.boton-carrusel {
    position: absolute; top: 50%;
    transform: translateY(-50%); 
    }
.body{
    background-image: url(Fondo_Binario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif !important;
}

.foto{
    max-width: 400px;
    height: auto;
    object-fit: cover;
}
@media (max-width: 576px) {
    .foto {
        max-width: 300px;
        margin-left: -15px;
        
    }
}

.menor_img {
    max-height: 80px;
}
@media (max-width: 576px) {
    .menor_img {
        max-height: 40px;
        margin-right: -15px;
    }
}

.mayor_img {
    max-height: 80px;
}
@media (max-width: 576px) {
    .mayor_img {
        max-height: 40px;
        margin-left: -15px;
    }
}